.header{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
    background: #6cf;
 }
 .example-spacer {
    flex: 1 1 auto;
  }
  a{
    text-decoration: none;
  }
  .header_button{
    
    top: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
    
  }
 